<div class="row">
  <h1>Inventar</h1>
</div>
<div class="row">
  <div class="col s12 m6 l4"
       ng-repeat="objekt in objekte">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="card1" class="activator" ng-src="{{objekt.image}}">
      </div>
      <div class="card-content">
        <p class="card-title activator blue-text text-darken-4">{{objekt.category}}<i class="material-icons right">more_vert</i></p>
        <p>{{objekt.description}}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title blue-text text-darken-4">{{objekt.category}}<i class="material-icons right">close</i></span>
        <dl>
          <dt><h5>Beschreibung</h5></dt>
          <dd>{{objekt.description}}</dd>
        </dl>
        <dl>
          <dt><h5>Preis</h5></dt>
          <dd>{{objekt.price}} CHF</dd>
        </dl>
        <dl>
          <dt><h5>Kaufdatum</h5></dt>
          <dd>{{objekt.buyDate}}</dd>
        </dl>
        <dl>
          <dt><h5>Mobil?</h5></dt>
          <dd>{{objekt.mobile}}</dd>
        </dl>
        <div>
          <a class="btn waves-effect waves-light blue darken-4"
             style="width: 100%"
             ng-click="gotoDeckungen(objekt)">
            Deckungen anzeigen
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
