<div class="row">
	<h1>Deckungen</h1>
</div>
<div class="row">
	<div class="col s12">
		<table class="bordered">
			<thead></thead>
				<tr><th></th><th>Zu Hause</th><th>Unterwegs</th></tr>
			<tbody>
				<tr ng-repeat="deckung in deckungen">
					<td>{{deckung.name}}</td>
					<td><i class="material-icons">{{icon(deckung.home)}}</i></td>
					<td><i class="material-icons">{{icon(deckung.travel)}}</i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<a class="btn-large waves-effect waves-light blue darken-4"
		style="width: 100%"
		ng-click="addToInventory(currentObjekt)"
	>
				Zum Inventar hinzufügen <i class="material-icons right">send</i>
	</a>
</div>
